#N
clk
rst
inp_north0.*
inp_north1.*
inp_north2.*
inp_north3.*

#W
inp_west0.*
inp_west4.*
inp_west8.*
inp_west12.*

#S
done
C0\[.*\]
C1\[.*\]
C2\[.*\]
C3\[.*\]
C4\[.*\]
C5\[.*\]
C6\[.*\]
C7\[.*\]

#E
C8\[.*\]
C9\[.*\]
C10\[.*\]
C11\[.*\]
C12\[.*\]
C13\[.*\]
C14\[.*\]
C15\[.*\]
